#buy_rates
.average
  = "Average USD: #{Rate.month_average('USD', :buy)}"
  = "Average EUR: #{Rate.month_average('EUR', :buy)}"
#sell_rates
.average
  = "Average USD: #{Rate.month_average('USD', :sell)}"
  = "Average EUR: #{Rate.month_average('EUR', :sell)}"
