#buy_rates
.average
  = "Average USD: #{Rate.day_average('USD', :buy).round(2)}"
  = "Average EUR: #{Rate.day_average('EUR', :buy).round(2)}"
#sell_rates
.average
  = "Average USD: #{Rate.day_average('USD', :sell).round(2)}"
  = "Average EUR: #{Rate.day_average('EUR', :sell).round(2)}"
